@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype'); 

}

* {

}

body {
   background-color: #84E1AD;
   text-align: justify;
}


header {
    background-color: rgb(26, 92, 56);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: -8px;
    margin-top: -24px ;
    padding: 10px;
}
header > h1 {
   text-align: center;
   padding-top: 20px;
}
header > p {
    text-align: center;
    padding: 10px;
}
nav > a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

main {
    width: 800px;
    background-color: white;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 0px 0px 10px 10px;
    
}

article > h1{
    font-family: 'idroid';
    padding-top: 10px;
    color: rgb(37, 85, 37);
}
article > h2 {
     background-color: rgba(83, 165, 83, 0.446);
     font-family: 'idroid';
     color: rgb(37, 85, 37);
 }

 p {
     text-indent: 30px;
     text-align: justify;
 }
iframe {
    border: 30px solid #1A5C38;
    margin-left: -5px;
    margin-right: auto;
}

ul {
    display: inline-block;
    margin-right: 100px;
}

aside#lista {
    background-color: #C5EBD6;
    border-radius: 10px;
    
    padding-bottom: 10px;
}

h3 {
    
    color: white;
    background-color: #32A664;
    padding: 5px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

.texto {
    margin-left: 10px;
}

footer {
    background-color: #1A5C38;
    padding: 5px;
    margin: -7px;
    text-align: center;
    color: rgb(90, 145, 90);
}
footer > a {
    text-decoration: none;
    color: white;
}